<a href="https://colab.research.google.com/github/laixiella/BDI-475-Final-Project/blob/main/COVID_19_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BDI 475 Final Project - COVID-19 Data Analysis**

I chose to analyze these data sets of COVID-19 because I want to gain a deeper insight into the current situation of global pendamic by filtering and sorting the confirmed number of cases, the death number resulted by COVID-19, and the number of recovered cases of each counry/region.

1. Import Python packages

In [1]:
import pandas as pd
import numpy as np

2. import data sets

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [3]:
df_d = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [4]:
df_r = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

3. Fine the number of rows and and columns in each data set

In [5]:
num_rows_c = df.shape[0]
num_cols_c = df.shape[1]
print(f'There are {num_rows_c} rows and {num_cols_c} columns in the COVID-19 global confirmed cases dataset.')

There are 275 rows and 475 columns in the COVID-19 global confirmed cases dataset.

In [6]:
num_rows_d = df_d.shape[0]
num_cols_d = df_d.shape[1]
print(f'There are {num_rows_d} rows and {num_cols_d} columns in the COVID-19 global death number dataset.')

There are 275 rows and 475 columns in the COVID-19 global death number dataset.

In [7]:
num_rows_r = df_r.shape[0]
num_cols_r = df_r.shape[1]
print(f'There are {num_rows_r} rows and {num_cols_r} columns in the COVID-19 global recovery cases dataset.')

There are 260 rows and 475 columns in the COVID-19 global recovery cases dataset.

4. Print a concise summary of each data base

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Columns: 475 entries, Province/State to 5/6/21
dtypes: float64(2), int64(471), object(2)
memory usage: 1020.6+ KB

In [9]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Columns: 475 entries, Province/State to 5/6/21
dtypes: float64(2), int64(471), object(2)
memory usage: 1020.6+ KB

In [10]:
df_r.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Columns: 475 entries, Province/State to 5/6/21
dtypes: float64(2), int64(471), object(2)
memory usage: 965.0+ KB

5. Find the total number of confirmed cases at 5/6/21

In [11]:
total_num_confirmed = df['5/6/21'].sum()

print(f'{total_num_confirmed} COVID-19 cases were confirmed at 5/6/21.')

156070356 COVID-19 cases were confirmed at 5/6/21.

In [12]:
total_num_deaths = df_d['5/6/21'].sum()
print(f'{total_num_deaths} cases of death resulted by COVID-19 were confirmed at 5/6/21.')

3256037 cases of death resulted by COVID-19 were confirmed at 5/6/21.

In [13]:
total_num_recover = df_r['5/6/21'].sum()
print(f'{total_num_recover} recovered COVID-19 cases were confirmed at 5/6/21.')

92301898 recovered COVID-19 cases were confirmed at 5/6/21.

6. Filter rows with 0 confirmed cases

In [14]:
df_0 = df[df['5/6/21'] == 0]

display(df_0.head(10))
print(f'There are {df_0.shape[0]} countries/regions with 0 confirmed cases at 5/6/21.')

      Province/State Country/Region  Lat  Long  ...  5/3/21  5/4/21  5/5/21  5/6/21
41  Diamond Princess         Canada  0.0   0.0  ...       0       0       0       0
88           Unknown          China  NaN   NaN  ...       0       0       0       0

[2 rows x 475 columns]

There are 2 countries/regions with 0 confirmed cases at 5/6/21.

7. Find rows with 0 number of death resulted by COVID-19

In [15]:
df_d0 = df_d[df_d['5/6/21'] == 0]

display(df_d0.head(10))
print(f'There are {df_d0.shape[0]} countries/regions with 0 number of death resulted by COVID-19 at 5/6/21.')

            Province/State Country/Region      Lat  ...  5/4/21  5/5/21  5/6/21
10      Northern Territory      Australia -12.4634  ...       0       0       0
42          Grand Princess         Canada   0.0000  ...       0       0       0
46   Northwest Territories         Canada  64.8255  ...       0       0       0
50    Prince Edward Island         Canada  46.5107  ...       0       0       0
52  Repatriated Travellers         Canada      NaN  ...       0       0       0
74                 Jiangsu          China  32.9711  ...       0       0       0
78                   Macau          China  22.1667  ...       0       0       0
79                 Ningxia          China  37.2692  ...       0       0       0
80                 Qinghai          China  35.7452  ...       0       0       0
84                  Shanxi          China  37.5777  ...       0       0       0

[10 rows x 475 columns]

There are 26 countries/regions with 0 number of death resulted by COVID-19 at 5/6/21.

8. Filter rows with >=50,000 recovered cases

In [16]:
df_r5 = df_r[df_r['5/6/21'] >=50000]

display(df_r5.head(10))
print(f'There are {df_r5.shape[0]} countries/regions with greater than or equal to 50,000 recovered COVID-19 cases at 5/6/21.')

   Province/State Country/Region       Lat  ...   5/4/21   5/5/21   5/6/21
0             NaN    Afghanistan  33.93911  ...    53694    53750    53961
1             NaN        Albania  41.15330  ...   112626   113468   114362
2             NaN        Algeria  28.03390  ...    85693    85869    86007
6             NaN      Argentina -38.41610  ...  2717458  2734465  2757230
7             NaN        Armenia  40.06910  ...   201107   201559   202273
16            NaN        Austria  47.51620  ...   593684   595877   597922
17            NaN     Azerbaijan  40.14310  ...   296875   298949   301006
19            NaN        Bahrain  26.02750  ...   169852   170886   172006
20            NaN     Bangladesh  23.68500  ...   695032   698465   702163
22            NaN        Belarus  53.70980  ...   353081   354212   355531

[10 rows x 475 columns]

There are 94 countries/regions with greater than or equal to 50,000 recovered COVID-19 cases at 5/6/21.

9. Filter France province with confirmed COVID-19 cases lower than 5,000

In [17]:
df_fr_5k = df[(df['Country/Region'] == 'France') & (df['5/6/21'] <= 5000)]

df_fr_5k.head(10)

                Province/State Country/Region  ...  5/5/21  5/6/21
124              New Caledonia         France  ...     124     124
126           Saint Barthelemy         France  ...     974     974
127  Saint Pierre and Miquelon         France  ...      25      25
128                  St Martin         France  ...    1745    1773
129          Wallis and Futuna         France  ...     444     445

[5 rows x 475 columns]

10. Filter China province with confirmed number of death resulted by COVID-19 cases lower than or equal to 500

In [18]:
df_ch_5 = df_d[(df_d['Country/Region'] == 'China') & (df_d['5/6/21'] <= 500)]

df_ch_5.head(10)

   Province/State Country/Region      Lat  ...  5/4/21  5/5/21  5/6/21
58          Anhui          China  31.8257  ...       6       6       6
59        Beijing          China  40.1824  ...       9       9       9
60      Chongqing          China  30.0572  ...       6       6       6
61         Fujian          China  26.0789  ...       1       1       1
62          Gansu          China  35.7518  ...       2       2       2
63      Guangdong          China  23.3417  ...       8       8       8
64        Guangxi          China  23.8298  ...       2       2       2
65        Guizhou          China  26.8154  ...       2       2       2
66         Hainan          China  19.1959  ...       6       6       6
67          Hebei          China  39.5490  ...       7       7       7

[10 rows x 475 columns]

11. Filter India province with confirmed recovered COVID-19 cases greater than or equal to 500

In [19]:
df_in_5k = df_r[(df_r['Country/Region'] == 'India') & (df_r['5/6/21'] >= 500)]

df_in_5k.head(10)

    Province/State Country/Region        Lat  ...    5/4/21    5/5/21    5/6/21
132            NaN          India  20.593684  ...  16951521  17280844  17612351

[1 rows x 475 columns]

11. Create a summary of metrics of confirmed cases

In [20]:
df_metrics = df.groupby('5/6/21', as_index=False)

df_metrics.head(10)

    Province/State      Country/Region        Lat  ...  5/4/21  5/5/21  5/6/21
0              NaN         Afghanistan  33.939110  ...   60563   60797   61162
1              NaN             Albania  41.153300  ...  131327  131419  131510
2              NaN             Algeria  28.033900  ...  122999  123272  123473
3              NaN             Andorra  42.506300  ...   13316   13340   13363
4              NaN              Angola -11.202700  ...   27284   27529   27921
..             ...                 ...        ...  ...     ...     ...     ...
270            NaN             Vietnam  14.058324  ...    2995    3030    3090
271            NaN  West Bank and Gaza  31.952200  ...  298921  299736  300387
272            NaN               Yemen  15.552727  ...    6390    6414    6426
273            NaN              Zambia -13.133897  ...   91804   91849   91946
274            NaN            Zimbabwe -19.015438  ...   38327   38357   38398

[275 rows x 475 columns]

12. Sort by number of confirmed cases at 5/6/21

In [21]:
df_by_cc = df.sort_values('5/6/21', ascending=False)

df_by_cc.head(10)

    Province/State  Country/Region        Lat  ...    5/4/21    5/5/21    5/6/21
250            NaN              US  40.000000  ...  32512934  32557444  32604810
147            NaN           India  20.593684  ...  20664979  21077410  21491598
30             NaN          Brazil -14.235000  ...  14856888  14930183  15003563
130            NaN          France  46.227600  ...   5633509   5658254   5679730
249            NaN          Turkey  38.963700  ...   4929118   4955594   4977982
214            NaN          Russia  61.524010  ...   4784497   4792354   4799872
265            NaN  United Kingdom  55.378100  ...   4423796   4425940   4428553
153            NaN           Italy  41.871940  ...   4059821   4070400   4082198
234            NaN           Spain  40.463667  ...   3544945   3551262   3559222
134            NaN         Germany  51.165691  ...   3462297   3484755   3502672

[10 rows x 475 columns]

13. Sort by number of death resulted by COVID-19 at 5/6/21

In [22]:
df_by_nd = df_d.sort_values('5/6/21', ascending=False)

df_by_nd.head(10)

    Province/State  Country/Region        Lat  ...  5/4/21  5/5/21  5/6/21
250            NaN              US  40.000000  ...  578499  579275  580064
30             NaN          Brazil -14.235000  ...  411588  414399  416949
147            NaN           India  20.593684  ...  226188  230168  234083
182            NaN          Mexico  23.634500  ...  217740  218007  218173
265            NaN  United Kingdom  55.378100  ...  127543  127570  127583
153            NaN           Italy  41.871940  ...  121738  122005  122263
214            NaN          Russia  61.524010  ...  109670  110022  110366
130            NaN          France  46.227600  ...  104658  104900  105119
134            NaN         Germany  51.165691  ...   83890   84141   84425
234            NaN           Spain  40.463667  ...   78399   78566   78726

[10 rows x 475 columns]

14. Sort by recovered COVID-19 cases at 5/6/21

In [23]:
df_by_rc = df_r.sort_values('5/6/21', ascending=False)

df_by_rc.head(10)

    Province/State Country/Region        Lat  ...    5/4/21    5/5/21    5/6/21
132            NaN          India  20.593684  ...  16951521  17280844  17612351
30             NaN         Brazil -14.235000  ...  13170561  13254660  13285589
234            NaN         Turkey  38.963700  ...   4554037   4589501   4626799
199            NaN         Russia  61.524010  ...   4406289   4413678   4421329
138            NaN          Italy  41.871940  ...   3524194   3541266   3557133
119            NaN        Germany  51.165691  ...   3075230   3118660   3140330
77             NaN       Colombia   4.570900  ...   2737757   2754940   2773220
6              NaN      Argentina -38.416100  ...   2717458   2734465   2757230
195            NaN         Poland  51.919400  ...   2536931   2540684   2546751
134            NaN           Iran  32.427908  ...   2022586   2039427   2057692

[10 rows x 475 columns]